body {
  background-image: url('./heartstone-fireplace.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Belwe Bold",
    Georgia,
    Times,
    "Times New Roman",
    serif,
    sans-serif
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 10px;
  max-height: 80vh;
  height: 80%;
  width: 80%;
  min-width: 500px;
  max-width: 800px;
}

.card-container {
  height: 200px;
  width: 145px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card:hover {
  border-radius: 1rem;
  transform: scale(1.05);
  box-shadow: 0 0 20px orange;
}

.card.revealed {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-body {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  background-image: url('./cards/hearthstone-card-back.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.archmage {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('./cards/archmage.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: 2rem;
}

.edwin {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('./cards/edwin.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: 2rem;
}

.grommash {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('./cards/grommash.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: 2rem;
}

.spider {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('./cards/spider.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: 2rem;
}

.jaraxx {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('./cards/jaraxx.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: 2rem;
}

.kingkrush {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('./cards/kingkrush.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: 2rem;
}

h1 {
  display: block;
  color: white;
  font-size: 60px;
  font-stretch: 100%;
  line-height: 66px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px;
  margin-bottom: 30px
}

.score-area {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 5rem;
  align-items: center;
  width: 80vh;
}

#highscore,
#guess-count {
  font-size: x-large;
  font-weight: bold;
  color: #ddba8a;
}

button {
  width: 100px;
  height: 30px;
  font-size: large;
  color: #00aeff;
  font-weight: bold;
  background-color: #271b12;
  border-radius: 10px;
  border: solid 3px #ff9c00;
}

button:hover {
  background-color: #3e2c1f;
}